<form class='newModal'>
	<section class='row'>
		<div class='col-sm-6 col-md-6'>
			<div class='form-mep'>
				<label for='searchAffiliate'>Afiliado</label>
				<div class="input-group">
					<input id="searchAffiliate" type="text" class="form-control">
					<div class="input-group-addon search" style="cursor: pointer;"><span style="font-size: 1.2em;" class="glyphicon glyphicon-search"></span></div>
				</div>
			</div>
		</div>
		<div class='col-sm-6 col-md-6'>
			<div class='form-mep'>
				<label for='codeAffiliate'>Código</label>
				<div class='input-group'>
					<span class='input-group-addon'><i class='fa fa-barcode'></i></span>
			      	<input id="codeAffiliate" class='form-control' type='text' disabled />
			      	<input type="hidden" name="codeAffiliate" id="hdnCode">
				</div>
			</div>
		</div>
		<div class='col-sm-6 col-md-6'>
			<div class='form-mep'>
				<label for='charterAffiliate'>Cédula</label>
				<div class='input-group'>
					<span class='input-group-addon'><i class='fa fa-barcode'></i></span>
			      	<input id="charterAffiliate" class='form-control' type='text' disabled />
				</div>
			</div>
		</div>
		<div class='col-sm-6 col-md-6'>
			<div class='form-mep'>
				<label for='nameAffiliate'>Nombres</label>
				<div class='input-group'>
					<span class='input-group-addon'><i class='fa fa-user'></i></span>
			      	<input id="nameAffiliate" class='form-control' type='text' disabled />
				</div>
			</div>
		</div>
		<div class='col-sm-6 col-md-6'>
			<div class='form-mep'>
				<label for='flastAffiliate'>Apellidos</label>
				<div class='input-group'>
					<span class='input-group-addon'><i class='fa fa-user'></i></span>
			      	<input id="lastAffiliate" class='form-control' type='text' disabled />
				</div>
			</div>
		</div>
		<div class='col-sm-6 col-md-6'>
			<div class='form-mep'>
				<label for='birthdateAffiliate'>Fecha de Nacimiento</label>
				<div class='input-group date'>
					<span class='input-group-addon'><i class='fa fa-calendar'></i></span>
			      	<input id="birthdateAffiliate" class='form-control' type='text' disabled />
				</div>
			</div>
		</div>
		<div class='col-sm-6 col-md-6'>
			<div class='form-mep'>
				<label for='datePaymentLastAffiliate'>Última fecha de Pago</label>
				<div class='input-group'>
					<span class='input-group-addon'><i class='fa fa-calendar'></i></span>
			      	<input id="datePaymentLastAffiliate" class='form-control' type='text' disabled />
				</div>
			</div>
		</div>
		<div class='col-sm-6 col-md-6'>
			<div class='form-mep'>
				<label for='consecutiveAffiliate'>N° de Recibo</label>
				<div class='input-group'>
					<span class='input-group-addon'><i class='fa fa-barcode'></i></span>
			      	<input name="consecutiveAffiliate" id="consecutiveAffiliate" class='form-control' type='text' />
				</div>
			</div>
		</div>
		<div class='col-sm-6 col-md-6'>
			<div class='form-mep'>
				<label for='date_consecutiveAffiliate'>Fecha del Recibo</label>
				<div class='input-group date'>
					<span class='input-group-addon'><i class='fa fa-calendar'></i></span>
			      	<input name="date_consecutiveAffiliate" class='form-control' type='text' />
				</div>
			</div>
		</div>
		<div class='col-sm-6 col-md-6'>
			<div class='form-mep'>
				<label for='date_paymentAffiliate'>Mes a pagar</label>
				<div class='input-group'>
					<span class='input-group-addon'><i class='fa fa-calendar'></i></span>
			      	<input name="date_paymentAffiliate" id='datepicker' class='form-control' type='text' />
				</div>
			</div>
		</div>
		<div class='col-sm-6 col-md-6'>
			<div class='form-mep'>
				<label for='amountDues' id="lbl_priv">Monto S. Privado</label>
				<div class='input-group'>
					<span class='input-group-addon'><i class='fa fa-usd'></i></span>
			      	<input name='amountDues' class='form-control' type='number' step="any" />
				</div>
			</div>
		</div>
		<input type="hidden" name="token" id="token">
		<div class='col-sm-6 col-md-6'>
			<div class='form-mep'>
				<label for='amount_affiliateDues' id="lbl_aff">Monto de Afiliado</label>
				<div class='input-group'>
					<span class='input-group-addon'><i class='fa fa-usd'></i></span>
			      	<input name='amount_affiliateDues' class='form-control' type='number' step="any" />
				</div>
			</div>
		</div>
	</section>
</form>