<table class="table">
  	<thead>
	    <tr>
	      	<th>Código</th>
	      	<th>Cédula</th>
	      	<th>Nombres</th>
	      	<th>Apellidos</th>
		    <th class="text-center">Seleccionar</th>
	    </tr>
  	</thead>
  	<tbody>
	    {{#if ListData}}
	    	{{#each ListData}}
	    	<tr>
		      	<td class="code">{{ this.code }}</td>
		      	<td class="charter">{{ this.charter }}</td>
		      	<td class="name">{{ this.fname }} {{ this.sname }}</td>
		      	<td class="last">{{ this.flast }} {{ this.slast }}</td>
		      	<input type="hidden" class="birthdate" value="{{ this.birthdate }}">
		      	<td class="text-center">
	   				<input type="radio" class="radioAffiliate">
				</td>
	    	</tr>
	      	{{/each}}
	    {{/if}}
  	</tbody>
</table>